/* Global Variables */
:root {
    /* design light mode / dark mode ? */
    --primary-color: #2E3270;
    --font: 'Sora', sans-serif;
}

/* anchor tags */
a:link {
    color: orange;
}

a:visited {
    color: orangered;
}

ul {
    list-style-type: none;
}


/*Hiding unused elements for now*/
.hidden {
    display: none;
}
