/* Header styling */
header {
    background-color: #2c2f3d;
    color: white;
    padding: 10px;

}

/* give every child a white underline */
header>* {
    border-bottom: 2px solid white;
}

/* list of navigation items */
header ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

/* list item spacing ... maybe just padding ? */
header ul li {

    padding: 10px;
}

/* Body styling */
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

/*deck building area styling*/
.main-content {
    display: flex;
    width: 85%;
    margin: 0 10px;
}

/*Sidebar decklist styling*/
sidebar {
    padding-left: 10px;
    padding-right: 10px;
    width: 15%;
    background-color: #2c2f3d;
    color: white;
}

.deck-builder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*give the header an underline*/
sidebar h2 {
    border-bottom: 2px solid white;
}

/* area to display deck content */


/*Display statistics based on the deck*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Hiding unused elements for now*/
.hidden {
    display: none;
}
