/* Body styling */
body {
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    margin: 0;
    padding: 0;

}

/* Header styling */
header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;

}

/* give every child a white underline */
header>* {
    border-bottom: 2px solid white;
}

/* list of navigation items */
header ul {
    padding: 5px;
    margin: 0;
    display: flex;
    flex-direction: row;
}

/* list item spacing ... maybe just padding ? */
header ul li {
    margin: 0 20px;
}


/*deck building area styling*/
main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    min-height: 80vh;
}


#deck-info {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
}

.db-heading {
    border-bottom: 2px solid black;
    text-align: center;
}

#deck-name {
    padding-left: 10px;
}

.deck-builder #deck-form {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}


/*card preview styling*/

.card-preview {
    width: 20%;

}

.card-preview h2 {
    border-bottom: 2px solid black;
    text-align: center;
}

sidebar.card-preview aside {
    border-left: 2px solid black;
}


/*Sidebar decklist styling*/

#decklist {
    padding-left: 10px;
    width: 15%;
    background-color: var(--primary-color);
    color: white;

}


/*give the header an underline*/

sidebar#decklist h2 {
    border-bottom: 2px solid white;
}

/* stats */

#stats-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px;
}
